<div id="menu">
    <ul>
        <li><a href="">菜单一</a>
            <ul>
                <li><a href="">子菜单1</a></li>
                <li><a href="">子菜单2</a>
                    <ul><li><a href="">子菜单7</a></li></ul>
                </li>
                <li><a href="">子菜单3</a></li>
            </ul>
        </li>
        <li><a href="">菜单二</a>
            <ul>
                <li><a href="">子菜单4</a></li>
                <li><a href="">子菜单5</a></li>
                <li><a href="">子菜单6</a></li>
            </ul>
        </li>
    </ul>
</div> 