<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>jquery mobile test</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="pageone">
    <!--贺毅-->
    <div data-role="header">
        <h1>欢迎访问我的主页pageone</h1>
    </div>

    <div data-role="content">
        <p>点击链接来查看淡入淡出效果。</p>
        <a href="#pagetwo" data-transition="fade">转到页面二</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pagetwo">
    <div data-role="header">
        <h1>欢迎访问我的主页pagetwo</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pagethree" data-transition="flip">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pagethree">
    <div data-role="header">
        <h1>欢迎访问我的主页pagethree</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pagefour" data-transition="flow">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pagefour">
    <div data-role="header">
        <h1>欢迎访问我的主页pagefour</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pagefive" data-transition="pop">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pagefive">
    <div data-role="header">
        <h1>欢迎访问我的主页pagefive</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pagesix" data-transition="slide">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pagesix">
    <div data-role="header">
        <h1>欢迎访问我的主页pagesix</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pageseven" data-transition="slidefade">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pageseven">
    <div data-role="header">
        <h1>欢迎访问我的主页pageseven</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pageeight" data-transition="slideup">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pageeight">
    <div data-role="header">
        <h1>欢迎访问我的主页pageeight</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pageneight" data-transition="slidedown">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>

<div data-role="page" id="pageneight">
    <div data-role="header">
        <h1>欢迎访问我的主页pageneight</h1>
    </div>

    <div data-role="content">
        <p>点击链接返回页面一。<b>注释：</b>：fade 是默认效果。</p>
        <a href="#pageone" data-transition="turn">返回页面一</a>
    </div>

    <div data-role="footer">
        <h1>页脚文本</h1>
    </div>
</div>





</body>
</html>