<!DOCTYPE html>
<html>
  <head>
  
     <%- include('secs/comm_header.html'); %>
   
	<style>

	</style>
	<script  type="text/javascript">
		
	   var init = function() {
		
	   }
	   
	   $(document).ready(function(){ 
		 init();
		 
		});
	   
	</script>
  </head>
  <body style="background-color:#CCFFCC">
    <div id="bbsBody" class="bbsBody" style="">

	    <%- include('secs/header.html'); %>
	   
	    <div id="bbsContentPanel" style="border:none; width:100%; height:100%;">
	   
        </div>
   
	</div>
	
	<%- include('secs/copyright.html');  %>

  </body>
</html>
